<section class="barraseccion ">
    <div class="container barraseccionGalery">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2> Location</h2>
        </div>
    </div>
</section>
<div class="clear"></div>
<section class="location">
    <div class="container">
        <h4 class="text-center">Escribe tu Zip Code para indicarte el Studio Vali Spa más cercano</h4>
        <div class="mapa"></div>
        <div class="clear"></div> <br>
        <hr>
        <div class="zonas">
            <div class="col-xs-12">
                <h4>Seleccione el Studio de su preferencia</h4>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h4>Florida</h4>
                <ul>
                    <li><b>Miramar</b> Facial, Corporal & Makeup</li>
                    <li><b>Doral</b> Hair, Nails and Makeup</li>
                    <li><b>Boca Ratón</b> Todos los servicios</li>
                    <li><b>Boca Ratón</b> Hair, Nails and Makeup</li>
                    <li><b>Boca Ratón</b> Facial, Corporal & Makeup</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h4>Texas</h4>
                <ul>
                    <li><b>Miramar</b> Facial, Corporal & Makeup</li>
                    <li><b>Doral</b> Hair, Nails and Makeup</li>
                    <li><b>Boca Ratón</b> Todos los servicios</li>
                    <li><b>Boca Ratón</b> Hair, Nails and Makeup</li>
                    <li><b>Boca Ratón</b> Facial, Corporal & Makeup</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h4>New York</h4>
                <ul>
                    <li><b>Miramar</b> Facial, Corporal & Makeup</li>
                    <li><b>Doral</b> Hair, Nails and Makeup</li>
                    <li><b>Boca Ratón</b> Todos los servicios</li>
                    <li><b>Boca Ratón</b> Hair, Nails and Makeup</li>
                    <li><b>Boca Ratón</b> Facial, Corporal & Makeup</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="clear"></div> <br>