<section class="barraseccion barraseccionFin">
    <div class="container barraseccionGalery ">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2> Financing</h2>
        </div>
    </div>
</section>
<div class="clear"></div>
<section class="financing">
    <div class="container">
        <div class="col-xs-12 col-sm-5">
            <h1>BUY NOW</h1>
            <h1>PAY IN MONTHLY</h1>
            <h1>INSTALLMENTS</h1>

        </div>
        <div class="col-xs-12 col-sm-7 financing">
            <iframe width="100%" class="shadow" src="https://www.youtube.com/embed/o4Fq2cVvhcI" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; " allowfullscreen></iframe>
        </div>
        <div class="clear"></div>
        <br>
        <hr>
        <div class="clear"></div>

        <div class="col-xs-12 col-sm-8 col-sm-push-2 ">
            <h2 style="color:#333;">Payment Plans That Fit Your Life Style</h2>
            <h2 style="color:#333;">Get Started With Our Secure Application:</h2><br><br>
            <h2><span class="number">1</span>Select Financing Program Option</h2>
            <div style="padding-left: 50px;">
                <p><i class="fa fa-check-circle-o"></i> No application Fee</p>
                <p><i class="fa fa-check-circle-o"></i> No annual Fee</p>
                <p><i class="fa fa-check-circle-o"></i> Apply with no obligation of purchase</p>
            </div>
            <h2><span class="number">2</span>Apply in store or at home</h2>
            <p>For purchases from $100, fill out a short online application to see if your are eligible</p>
            <h2><span class="number">3</span>Choose the right plan</h2>
            <p>See all of the costs up front, with total clarity. Then pick the plan that fits your budget</p>
            <h2><span class="number">4</span>Make it yours</h2>
            <p>If your are approved, you will instantly get a message to pay your purchase </p>

        </div>

        <div class="clear"></div>
        <br>
        <div class="text-center">
            <!--a routerLink="/location"><button class="btn btn-success btn-lg boton shadow">Apply by location</button></a-->

        </div>
    </div>
    <div class="clear"></div>
    <br><br>
    <h1 style="text-align: center !important;">Choose your financing option</h1><br><br>
    <div class="col-xs-12 col-sm-8 col-sm-push-2 cuadropromos">
        <!--div class="promofinancing ">
            <div data-pp-message data-pp-style-layout="flex" data-pp-style-color="black" data-pp-style-ratio="1x1">
            </div>
        </div-->
        <a href="https://www.paypal.com/us/webapps/mpp/paypal-credit?gclid=CjwKCAjwq832BRA5EiwACvCWscW1vtVFI3NTHNeoylf0Aw6aINOgY1lfGxxbGXEWLXxY6YjOkCD3ghoCqMoQAvD_BwE&gclsrc=aw.ds" target="_blank" rel="noopener noreferrer">
            <div class="promofinancing ">
                <img src="assets/svg/Logos-cuadros_paypalCredit.svg" alt="paypalcredit Vali Skincare & Makeup">
                <ul>
                    <li>No Interest if paid in full in 6 months on purchases of $99+</li>
                </ul>
            </div>
        </a>
        <a href="https://squareinstallments.com/apply/vsm " target="_blank" rel="noopener noreferrer">
            <div class="promofinancing ">

                <img src="assets/svg/Logos-cuadros_square.svg" alt="square Vali Skincare & Makeup">
                <ul>
                    <li>3 Monthly Payments</li>
                    <li>6 months</li>
                    <li>12 months</li>
                </ul>
            </div>
        </a>
        <div class="promofinancing ">
            <img src="assets/svg/Logos-cuadros_vali.svg" alt="logo vali Vali Skincare & Makeup ">
            <ul>
                <li>50% Down and 3 Payments in the next three first visits </li>
                <li>No Interest (Only Packages)</li>
            </ul>
        </div>
    </div>

    <div class="clear"></div>
    <br>
</section>
<section class="degrade" style="color:#fff; margin-top: 40px; padding: 40px;  text-align: center;">
    <div class="container">
        <h4 style="margin: 0; padding: 0;"> In case you require another financing alternative, you can contact us and we will gladly assist you</h4>

    </div>
</section>
