<!-- Modal -->
<div class="modal fade bio" id="valentinaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="assets/img/valentina1.png" alt="Vali Skincare & Makeup Valentina">
                <h2>Valentina Algarra</h2>
            </div>
            <div class="modal-body">
                <br><br>
                <p> Founder and CEO of <b>Vali Skincare & Makeup,</b> Professional Esthetician, Body Contouring, Body Wrapping, Health Coach and Professional Makeup Artist. Her experience and constant renovation and modernizing desire for the use of the latest
                    technology and the best products in the cosmetic field, are embodied in the protocols offered by <b>Vali Skincare & Makeup</b>, without a doubt, the most effective results according to the individual needs of each client are a guarantee.<br><br>                    Continuously updating of procedures, protocols, equipment and products allow new treatments to be developed with the latest market trends, including modern body contouring, restorative facial treatments, skin tightening procedures,
                    permanent makeup, fibroblast and makeup for special occasions. We have a large assortment of the best products that will help you find the desired result for your specific need, guiding you through personalized sessions for skin and
                    beauty care.<br><br> We work day by day with the best attitude, good humor and charisma, transmitting respect, patience and love to all our clients. We care about every detail in our clients' quest to feel better about their skin and
                    body. The key to our success has been to provide you with a unique experience involving all senses.<br><br>

                    <span style="font-style: italic;">
                    "The goal is to make every customer feel like they are walking the red carpet every day."<br><br>

                  "Each face and body represents a new challenge with its natural beauty that can be improved through the treatments we carefully develop"
                  </span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bio" id="lissetteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="assets/img/lissette.png" alt="Vali Skincare & Makeup Lissette">
                <h2>Lissette Larrazabal</h2>

            </div>
            <div class="modal-body">
                <br><br>
                <p>is a Professional Esthetician with a license for Body Contouring Licensed from the state of Florida. <br><br> She was born in Venezuela, which is recognized as the country of beautiful women as a product of miscegenation. She states that
                    her interest in aesthetics comes from three places: the first, she was raised by her mother, who has more than 40 years of experience in the area. The second reason is that it is very satisfying to connect with her patients, establishing
                    trust and being able to pay personal attention to the needs of their skin. Finally, she believes that investing in one’s skin is a benefit that will last a lifetime.<br><br> She is inspired by the Greek word aisthētikós, which means
                    "perception or sensitivity" when working. Lissette is characterized for having these qualities with each of her clients, and that makes her stand out in her field.
                    <br><br> She is professional in aesthetics and body wrapping, and she is also involved in the latest technologies the market has to offer, thus guaranteeing the best results to our distinguished clientele. Among many of the treatments
                    in which she is specialized are microblading, microdermabarsion, body wrapping, cavitation and lymphatic drainage, which are renowned for the results they bring. <br><br> She effectively determines appropriate and successful treatments
                    for her patients, as well, as analyzing the need for each of them. She offers a tailored experience that is undeniably unique to each guest and listens to their specific requests and concerns to provide a level of personal service
                    that is second to none.<br><br>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>