<section class="barraseccion barraseccionFin">
    <div class="container barraseccionGalery ">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2> Gift Cards</h2>
        </div>
    </div>
</section>
<div class="clear"></div>
<section class="gifcards">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas id quidem provident, eum quam dolorum ex. Dicta ducimus porro corporis. Aliquid dolorum, aliquam fugiat culpa autem pariatur atque sapiente sit?</p>
            <a routerLink="/location"><button class="btn btn-success btn-lg boton shadow">Select by location</button></a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <img src="assets/img/2daetapa/giftcard.jpeg" style="width: 100%;" class="img-responsive" alt="">
        </div>
    </div>
</section>