<app-banner></app-banner>

<section class="barraseccion barraseccion-hoja up">
    <div class="container barraseccion1">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2>{{ 'Treatments' }}</h2>
        </div>
    </div>
</section>

<section>
    <div class="container treatments up">
        <a routerLink="/facial">
            <div class="col-xs-12 col-sm-6 col-md-6 box" style="background-image: url(./assets/img/treatment-facial.jpg);">

                <h3> {{ 'Facial' }}</h3>

            </div>
        </a>
        <a routerLink="/body">
            <div class="col-xs-12 col-sm-6 col-md-6 box">
                <h3> {{ 'Body' }}</h3>
            </div>
        </a>
        <a routerLink="/wax">
            <div class="col-xs-12 col-sm-6 col-md-6 box" style="background-image: url(./assets/img/treatment-wax.jpg);">
                <h3> {{ 'Wax' }}</h3>
            </div>
        </a>
        <a routerLink="/permanent-makeup">
            <div class="col-xs-12 col-sm-6 col-md-6 box boxPer">
                <h3> {{ 'Permanent Makeup' }}</h3>
            </div>
        </a>

        <div class="clear"></div>
        <a routerLink="/makeup">
            <div class="col-xs-12 col-sm-12 box2">
                <h3> {{ 'Makeup' }}</h3>
            </div>
        </a>
        <div class="clear"></div>
        <!--a routerLink="/hair">
            <div class="col-sm-6 box" style="background-image: url(./assets/img/treatment-wax.jpg);">
                <h3> {{ 'Hair' }}</h3>
            </div>
        </a>
        <a routerLink="/nails">
            <div class="col-sm-6 box boxPer">
                <h3> {{ 'Nails' }}</h3>
            </div>
        </a-->
        <div class="clear"></div>
        <a routerLink="/special-treatments">
            <div class="col-xs-12 col-md-6 col-sm-6 box boxSp">
                <h3> {{ 'Special Treatments' }}</h3>
            </div>
        </a>
        <a routerLink="/fibroblast">
            <div class="col-xs-12 col-md-6 col-sm-6 box" style="background-image: url(./assets/img/treatment-fibroblast.jpg);">
                <h3> {{ 'Fibroblast' }}</h3>
            </div>
        </a>
    </div>
</section>

<section class="barraseccion up" style="background-color: #fafafa">
    <div class="container barraseccion2">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2> {{ 'About Us' }}</h2>
        </div>
    </div>
</section>

<section class="infovalentina up">
    <div class="container valentina">
        <div class="col-sm-4">
            <img src="assets/img/valentina1.png" alt="Vali Spa Valentina">
        </div>
        <div class="col-sm-8">
            <h1>Valentina</h1>
            <h2>Professional Esthetician, Body Contouring, Health Coaching and Makeup Artist.</h2>
            <p class="col-xs-12 col-sm-10"> Her experience using the latest technology with the best products in the cosmetic field guarantee the most effective results according to the individual needs of each client. <br><br> She is always up-to-date on the newest procedures, including
                the modern body contouring, restorative facials, skin tightening procedures and makeup for special occasions. Valentina is outstanding in terms of semipermanent or permanent makeup, and will help you find the right products and coach you
                in the path to achieving optimal, personalized results.
            </p>
            <div class="clear"></div>
            <button type="button" class="botonmodal" data-toggle="modal" data-target="#valentinaModal">+ info</button>
        </div>
    </div>
</section>

<section class="barraseccion up" style="padding-bottom: 40px;">
    <div class="container barraseccion3">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
        </div>
    </div>
</section>


<section class="barraseccion up">
    <div class="container barraseccion4">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2> {{ 'Our Place' }} </h2>
        </div>
    </div>
</section>

<section class="ourplace up">
    <div class="container ourtext">
        <div class="col-xs-12 col-sm-6">
            <p><br><br>Our cozy studios are located near you, we have all the legal permits and we comply with each of the regulations required by the authorities. We offer the latest technology and equipment to guarantee customer safety and the success
                of our treatments.<br><br> The health of your skin is our top priority, that's why we always customize all of our treatments to meet your needs. We do not promise the impossible, we fulfill the results that can be obtained according to
                your condition. We set realistic goals and offer progressive and safe treatment options. We will help you better understand your particular skin type and conditions, as well as how to recover, care for, maintain and balance your skin at
                home.
            </p>
            <hr>
            <p>{{ 'We work from' }} 8:00 am - 8:00 pm, <br> {{ 'Monday - Sunday' }}, <b> {{ 'Only by appointment.'  }}</b><br>
                <b>{{ 'Address'  }}: </b> <a href="https://goo.gl/maps/z6Moetp4Vs1h6Pmz5 " target="_blank">3061 Sw 160 Ave. Miramar FL 33027 Suite 135</a> <br>
                <b>{{ 'Phone'  }}: </b> <a href="tel:+17862926120" target="_blank">+1 (786) 292-6120</a></p>

            <br><br>
        </div>
        <div class="col-xs-12 col-sm-6 ">
            <img src="assets/img/Vali-Our-Place.jpg" class="shadow" style="width:100%;" alt="Vali Spa ">
        </div>
    </div>
</section>
<div class="clear"></div>
<br><br>

<div class="cinta ">
    <h3 class="text-center "> {{ 'Let yourself, come, relax and enjoy with us !!' }}</h3>
</div>

<div class="modal fade emergente " id="mostrarmodal " tabindex="-1 " role="dialog " aria-labelledby="basicModal " aria-hidden="true ">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header ">
                <button type="button " class="close " data-dismiss="modal " aria-hidden="true ">&times;</button>
            </div>
            <div class="modal-body ">
                <img src="assets/img/POPUP.jpg " alt="Vali Spa " style="display:block; width:100%; margin:auto; ">
            </div>
            <div class="modal-footer ">
            </div>
        </div>
    </div>
</div>


<app-bio></app-bio>
<app-emergente></app-emergente>